{{set . "title" "Chat room"}}
{{template "header.html" .}}

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
          <div class="navbar-header">
<a class="navbar-brand" href="#">Chat room — You are now chatting as {{.user}}</a>
</div>
  <p class="navbar-text navbar-right"><a href="/" class="navbar-link">Leave the chat room</a></p>

</div>
</nav>

<div class="container-fluid">
<div class="row">

<div class="col-md-6">
<p>ここがげーむがめんです</p>

  <input type="submit" value="send" id="send" class="btn btn-primary">
  <script type="text/html" id="message_tmpl">
    <% if(event.Type == 'getitem') { %>
      <div class="message important">
        <h2></h2>
        <p>
          you get message!
        </p>
      </div>
  </script>


</div>

<div class="col-md-6">


<div id="rightpage">
<div id="thread">

  <script type="text/html" id="message_tmpl">
    <% if(event.Type == 'message') { %>
      <div class="message <%= event.User == '{{.user}}' ? 'you' : '' %>">
        <h2><%= event.User %></h2>
        <p>
          <%= event.Text %>
        </p>
      </div>
    <% } %>
    <% if(event.Type == 'join') { %>
      <div class="message notice">
        <h2></h2>
        <p>
          <%= event.User %> joined the room
        </p>
      </div>
    <% } %>
    <% if(event.Type == 'leave') { %>
      <div class="message notice">
        <h2></h2>
        <p>
          <%= event.User %> left the room
        </p>
      </div>
    <% } %>
    <% if(event.Type == 'quit') { %>
      <div class="message important">
        <h2></h2>
        <p>
          You are now disconnected!
        </p>
      </div>
    <% } %>

    <% if(event.Type == 'getitem') { %>
      <div class="message important">
        <h2></h2>
        <p>
          You are now disconnected!
        </p>
      </div>
    <% } %>
    <% if(event.Type == '') { %>
      <div class="message important">
        <h2></h2>
        <p>
          You are now disconnected!
        </p>
      </div>
    <% } %>
  </script>
</div>

<div>
  <p id="pToShow"></p> <!-- スクロール先 -->
</div>
 <!-- <input id="eom" type="text" style="width:1px; height:1px; disaply:none">
 --></div>

<div id="newMessage">
  <input type="text" id="message" autocomplete="off" autofocus>
  <input type="submit" value="send" id="send" onclick="showIt('pToShow');" class="btn btn-default">
</div>

</div>
</div>
</div>

<script type="text/javascript">

  // Create a socket
  var socket = new WebSocket('ws://'+window.location.host+'/websocket/room/socket?user={{.user}}')

  // Display a message
  var display = function(event) {
    $('#thread').append(tmpl('message_tmpl', {event: event}));
    $('#thread').scrollTo('max')
  }

  // Message received on the socket
  socket.onmessage = function(event) {
    display(JSON.parse(event.data))
  }

  $('#send').click(function(e) {
    var message = $('#message').val()
    $('#message').val('')
    socket.send(message)
  });

  $('#message').keypress(function(e) {
    if(e.charCode == 13 || e.keyCode == 13) {
      $('#send').click()
      e.preventDefault()
    }
  })



</script>

{{template "footer.html" .}}
